<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      {{ subtitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides #slider pager="true" (ionSlideWillChange)="onSlideChangeStart()">
    <!-- First Slide - (Basic Information) -->
    <ion-slide>
      <form [formGroup]="slide_one_form">
        <ion-card>
          <ion-item>
            <ion-label fixed>Name</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label>DOB</ion-label>
            <ion-datetime
              formControlName="date_of_birth"
              displayFormat="DD/MM/YYYY"
              pickerFormat="DD MMMM YYYY">
            </ion-datetime>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label fixed>Gender</ion-label>
            <ion-select formControlName="gender">
              <ion-option *ngFor="let g of gender_data" value="{{ g }}">
                {{ g }}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label fixed>Nationality</ion-label>
            <ion-select formControlName="nationality">
              <ion-option *ngFor="let n of nationality_data" value="{{ n }}">
                {{ n }}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label fixed>Current School</ion-label>
            <ion-input formControlName="current_school" type="text"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label fixed>Current Major</ion-label>
            <ion-input formControlName="current_major" type="text"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label fixed>Current GPA</ion-label>
            <!-- not sure what range a GPA goes,
              so this is just what I'd consider
              a sensible limit -->
            <ion-input
              formControlName="current_gpa"
              type="number"
              min="0"
              max="100">
            </ion-input>
          </ion-item>
        </ion-card>
      </form>
      <button ion-button
        large
        block
        (click)="next()"
        [disabled]="!slide_one_form.valid">
          Continue
      </button>
    </ion-slide>

    <!-- Second Slide - (Labels & Lifestyle) -->
    <ion-slide>
      <ion-card>
        <!-- Form section for Labels -->
        <form [formGroup]="slide_two_label" (ngSubmit)="addTagNewLabel()">
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let l of user.label">
                <ion-chip (click)="removeTagLabel(l)">
                  <ion-icon name="close"></ion-icon>
                  <ion-label>{{ l }}</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col col-8>
                <ion-input
                  formControlName="label"
                  type="text"
                  placeholder="Choose your own label...">
                </ion-input>
              </ion-col>
          </ion-row>
          </ion-grid>
        </form>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let l of label_data">
            <ion-chip (click)="addTagExistingLabel(l.name)" [hidden]="l.added">
              <ion-icon name="add"></ion-icon>
              <ion-label>{{ l.name }}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Form section for Lifestyles -->
      <ion-card>
        <form [formGroup]="slide_two_lifestyle" (ngSubmit)="addTagNewLifestyle()">
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let l of user.lifestyle">
                <ion-chip (click)="removeTagLifestyle(l)">
                  <ion-icon name="close"></ion-icon>
                  <ion-label>{{ l }}</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col col-8>
                <ion-input
                  formControlName="lifestyle"
                  type="text"
                  placeholder="Choose your preferred lifestyle...">
                </ion-input>
              </ion-col>
          </ion-row>
          </ion-grid>
        </form>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let l of lifestyle_data">
            <ion-chip (click)="addTagExistingLifestyle(l.name)" [hidden]="l.added">
              <ion-icon name="add"></ion-icon>
              <ion-label>{{ l.name }}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button
        large
        block
        (click)="previous()"
        [disabled]="!slideTwoValid()">
          Go
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
